# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Env files
.env

# Docker
Dockerfile
docker-compose.yml

# Git and others
.git/
.gitignore
.DS_Store

# Temporary files
tmp/
